.flashcard-viewer {

  .next-btn {
    position: fixed;
    bottom: 20px;
    left: 5vw;
    width: 90vw;
    height: 32px;
    border: 2px solid $primary_pink;
    background: transparent;
    font-family: $bodyfont;
    line-height: 23px;
    font-size: 1em;
    color: $primary_pink;
    text-align: center;
    margin: 0 auto;
    display: block;

    &:focus {
      outline: none;
    }
  }

  .classify-button-container {
    text-align: center;
    position: fixed;
    bottom: 70px;
    width: 100%;
  }

  .classify-btn {
    width: 50px;
    height: 50px;
    margin: 5px;
    line-height: 50px;
    display: inline-block;
    transition: .4s;
    text-align: center;
    font-family: $bodyfont;
    font-weight: 700;
    font-size: 120%;
    letter-spacing: 2px;
    transform: scale(.8);

    &.all {
      border: 2px solid $primary_pink;
      color: $primary_pink;
    }

    &.showing {
      transform: scale(1.1);
    }

    &.vocab {
      border: 2px solid $orange;
      color: $orange;
    }

    &.phrase {
      border: 2px solid $purple;
      color: $purple;
    }

    &.sentence {
      border: 2px solid $bright_orange;
      color: $bright_orange;
    }
  }
}